* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*line-height: 3.5rem;*/
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 2rem 1rem;
}

#title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.lead {
    text-align: center;
    font-size: 1rem;
}

#main {
    background-color: #bdc8ca;
    border-radius: 5px;
}

img {
    width: 100%;
    display: block;
    height: auto;
    margin: 0;
}

#img-div {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 1rem 1rem;
    border-radius: 5px;
    background-color: white;
    
}

#img-caption {
    margin-bottom: 2rem;
    text-align: center;
    
    
    
}

#img-info {
    max-width: 600px;
    margin: auto;
}

#img-info >h2 {
    text-align: center;
    margin: 2rem auto;
}

#img-info ul li {
    margin: 0.8rem auto;
}

#img-info ul {
    margin: 2.5rem 0 ;
}

#small-p {
    margin: 0.5rem;
}

#person-name {
    text-align: right;
    margin-bottom: 0.8rem;
}

.learn-more-p {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    
    padding: 1rem 1rem 3rem 1rem;
}